################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HeatingElements/v16
/bin/Debug
/obj/Debug
